* {
    background-color: rgb(129, 112, 85);
    text-align: center;
}

img{
    max-width: 180px;
    max-height: 180px;
}


.Arte{
    color: rgb(36, 6, 141);
}

.Design {
    color: rgb(106, 26, 131);
}

h1{
    color: rgb(255, 255, 255);
}

p{
    text-align: justify;
    text-align: center;
    color: rgb(0, 0, 0);
}

.Educacao{
    color: rgb(0, 157, 105);
}

.Cultura{
    color: rgb(3, 99, 99);
}

.ambiente{
    color: rgba(87, 162, 2, 0.89);
}

.estilo{
    color: rgb(59, 99, 15);
}

.ciencia{
    color: rgb(166, 16, 16);
}

.tecnologia{
    color: rgb(105, 21, 21);
}

.saude{
    color: rgb(115, 11, 122);
}

.bem-estar{
    color: rgb(75, 16, 79);
}

.economia{
    color: rgb(195, 183, 28);
}

.finanças{
    color: rgb(155, 146, 21);
}