* {
    background-color: black;
    text-align: center;
}

h1{
    color: white;
}
p{
    color: azure;
}
img{
    max-width: 2000px;
    max-height: 200px;
}

.abertura{
    color: aquamarine;
}

.texto{ 
    margin: 0 auto;
    max-width: 1000px;
}