* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url("../img/default-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.hide{
    display: none;
}

h2 {
    width: fit-content;
}