* {
    text-align: center;
    list-style-type: none;
    color: rgba(255, 255, 255, 0.5)
}

ul{
    padding: 0;
}

button {
    color: black;
}

body {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 30px;
}

h1,
h2 {
    transition: 200ms;
}

#voltar {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}